body {
  font-family: Georgia;
  text-align: center;
  padding-top: 120px;
background-color: #72b97e;
}

h1 {
  font-size: 2.4rem;
  margin-bottom: 30px;
}

button {
  font-size: 20px;
  padding: 12px 22px;
  margin: 12px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  background: rgb(255, 255, 255);
  color: #0b3d91;
  font-weight: bold;
}

#no {
  position: absolute;
}
